aext-assistant==4.20.0
aext-core==4.20.0
aext-panels==4.20.0
aext-toolbox==4.20.0
anaconda-anon-usage==0.7.1
anaconda-catalogs==0.2.0
anaconda-navigator==2.6.6
anaconda-project==0.11.1
appdirs==1.4.4
astropy==7.0.0
autopep8==2.0.4
Bottleneck==1.4.2
Brotli==1.0.9
conda-anaconda-telemetry==0.1.2
conda-anaconda-tos==0.2.0
conda-build==25.5.0
conda_index==0.6.1
conda-libmamba-solver==25.4.0
conda-repo-cli==1.0.165
conda-token==0.6.0
cytoolz==1.0.1
dask-expr==2.0.0
datashader==0.18.0
distributed==2025.2.0
flake8==7.1.1
Flask==3.1.0
gmpy2==2.2.1
h5py==3.12.1
HeapDict==1.0.1
hvplot==0.11.3
imbalanced-learn==0.13.0
jupyter==1.1.1
lckr_jupyterlab_variableinspector==3.2.4
libmambapy==2.0.5
lief==0.16.4
lmdb==1.6.2
lz4==4.3.2
mkl_fft==1.3.11
mkl_random==1.2.8
mypy==1.14.1
navigator-updater==0.5.1
nb_conda_kernels==2.5.2
nltk==3.9.1
openpyxl==3.1.5
pip==25.1
pipreqs==0.4.13
plotly==5.24.1
pycurl==7.45.6
pydocstyle==6.3.0
pyodbc==5.2.0
PySocks==1.7.1
pytest==8.3.4
PyWavelets==1.8.0
rope==1.13.0
ruamel.yaml.clib==0.2.12
ruamel_yaml_conda==0.17.21
s3fs==2025.3.2
scikit-image==0.25.0
Scrapy==2.12.0
seaborn==0.13.2
shellingham==1.5.0
sip==6.7.12
spyder==6.0.7
statsmodels==0.14.4
streamlit==1.45.1
sympy==1.13.3
tables==3.10.2
twisted-iocpsupport==1.0.2
Unidecode==1.3.8
whatthepatch==1.0.2
wheel==0.45.1
win_inet_pton==1.1.0
xlwings==0.32.1
yapf==0.40.2